@font-face {
  font-family: Barlow;
  src: url(./fonts/Barlow-Regular.ttf);
}
@font-face {
  font-family: Optima;
  src: url(./fonts/Optima-Medium.ttf);
}

body {
  margin: 0px;
  color: #3e2832;
  font-family: Barlow;
  font-size: 16px;
}

a{
  text-decoration: none;
  color:inherit;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: #3e2832;
}

.pageStyles {
  background: #3e2832;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}


.padding{
  padding: 0 28px;
}
.innerContainer {
  position: relative;
  top:0;
  background: #fdebe4;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.headerNavigation {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #fdebe4;
  z-index: 100;
}

.navigationLink {
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  flex: 1;
  height: 48px;
}


.full{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  &.bold{font-weight: 600;}
  &.center {
    justify-content: center;
    flex: 1.5;
  }
  &.right {
    justify-content: right;
  }
  &:hover {
    font-weight: 600;
  }
}

.contentContainer {
  margin: 24px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.subtitle {
  margin-top: 16px;
}

.synopsisButton {
  cursor: pointer;
  background-color: #a87867;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 8px 32px;
  margin: 32px 0 16px;
  border-radius: 24px;
  align-self: center;
  width: fit-content;
  text-transform: uppercase;
  font-family: Optima;
  &:hover {
    background-color: #986857;
  }
}

.synopsisModalContainer {
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
}

.synopsisModalContent {
  width: 360px;
  max-width: 90vw;
  font-size: 14px;
  background: #fdebe4;
  border-radius: 16px;
  padding: 24px;
}

.headingContainer {
  display: flex;
  align-items: center;
  margin: 32px 0 16px;
}
.heading {
  font-family: Optima;
  font-weight: 600;
  font-size: 32px;
  flex: 1;
  text-align: left;
}
.expand {
  transform: rotate(90deg) translate(1px, -5px) scale(0.9);
  font-weight: 300;
}

.chapterItem{
    margin:10px 0;
}

.footer{
  height:68px;
  width: 100%;
  border-bottom: 150px solid #a87867;
}

.button {
  cursor: pointer;
}
.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
}
.ml {
  margin-left: 4px;
}
.mr {
  margin-right: 4px;
}

